* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*.work-sans-<uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.ibm-plex-sans-<uniquifier> {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}*/

body {
  background: #fff;
}

/* HERO */
.hero {
	height: 84vh;
	background:
	linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.50));
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	position: relative;
	transition: background-image 0.8s ease-in-out;
}
.a-hero {
	height: 54vh;
	background:
		linear-gradient(rgba(0,0,0,0.10), rgba(0,0,0,0.50)),
		url("./images/Waste.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	position: relative;
}



/* NAVBAR */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 95px;
	z-index: 1000;
}

.logo {
	display: flex;
	align-items: center;
	gap: 10px;
}

.logo img {
	width: 127px;
}

.nav-links {
	list-style: none;
	display: flex;
	padding: 0 0 0 90px;
	font-size: 17px;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
}

.nav-links a {
	text-decoration: none;
	color: white;
}

.nav-links li {
	cursor: pointer;
	opacity: 0.85;
	margin: 0 25px;
	padding: 13px 0;
}

.nav-links li.active {
	border-bottom: 2px solid #fff;
	padding-bottom: 10px;
}

.nav-links li a:hover {
	border-bottom: 2px solid #fff;
	padding-bottom: 10px;
}

.search-icon {
	font-size: 20px;
	cursor: pointer;
	padding: 0 0 0 90px;
}

.menu-toggle {
  display: none;
  font-size: 22px;
  cursor: pointer;
  color: #fff; /* FIX */
}


/* HERO CONTENT */
.hero-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
	transition: opacity 0.4s ease;
}

.subtitle {
	letter-spacing: 2px;
	font-weight: 600;
	font-size: 20px;
	opacity: 0.9;
	font-family: "IBM Plex Sans", sans-serif;
}

.hero-content h1 {
	font-size: 85px;
	font-weight: 600;
	margin: 0 0 30px;
	font-family: "IBM Plex Sans", sans-serif;
}

.hero-content p {
	font-size: 24px;
	opacity: 0.9;
	margin-bottom: 30px;
	font-family: "Work Sans", sans-serif;
}

/* BUTTON */
.btn {
	border: 3px solid #fff;
	border-radius: 2px;
	padding: 12px 30px;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	transition: 0.3s ease;
}

.btn:hover {
	background: #fff;
	color: #000;
}

/* SLIDER ARROWS */
.slider {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: transparent;
	border: none;
	font-size: 60px;
	color: #fff;
	cursor: pointer;
	opacity: 0.7;
}

.slider.left {
	left: 30px;
}

.slider.right {
	right: 30px;
}

.a-hero-content {
	position: absolute;
	top: 58%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	transition: opacity 0.4s ease;
}

.a-hero-content span {
	font-size: 50px;
	font-family: "Montserrat", sans-serif;
	padding: 30px 32px;
	margin: 70px 105px 0;
	background: #336164;
	align-items: center;
}

/*------------------------------------toptext---------------------------*/
.top-texts-cont {
	padding: 80px 0 60px;
	margin: 0 105px;
	display: grid;
	grid-template-columns: 400px 1fr;
}

.top-first {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.top-first p {
	font-size: 22px;
	font-family: "Montserrat", sans-serif;
}

.top-first h1 {
	font-size: 40px;
	font-family: "Montserrat", sans-serif;
}

.top-sec p {
	font-size: 19px;
	font-family: "Raleway", sans-serif;
	font-weight: 300;
}

/*------------------------------------service-------------------------------*/
.service-cont {
	background-color: #f7f7f7;
}
.service {
	padding: 80px 0 60px;
	margin: 0 105px;
	display: grid;
	grid-template-columns: 500px 1fr;
	align-items: center;
	gap: 20px;
}

.service-image img {
	width: 100%;
	border-radius: 20px;
}

.service-det {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.service-icon {
	display: flex;
	gap: 10px;
	align-items: center;
}

.service-icon i {
	font-size: 40px;
}

.service-icon h3 {
	font-size: 25px;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
}

.service-p p {
	font-size: 19px;
	font-family: "Raleway", sans-serif;
	font-weight: 300;
}

.service-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	font-family: "Roboto", sans-serif;
}

.service-list span {
	display: flex;
	gap: 10px;
}

.service-list span p {
	font-size: 16px;
}

.service-list span i {
	font-size: 18px;
}

.service-btn a {
	font-size: 19px;
	font-family: "Montserrat", sans-serif;
	background: #336164;
	padding: 8px 70px;
	color: #FFFFFF;
	text-decoration: none;
	border-radius: 50px;
}

.service-btn i {
	padding: 0 0 0 10px;
} 

/*------------------------------------scrap-------------------------------*/

.scrap-cont {
	background: #336164;
} 

.scrap {
	padding: 80px 0 60px;
	margin: 0 105px;
}

.scrap-head {
	display: flex;
	flex-direction: column;
	color: #FFFFFF;
	gap: 20px;
	padding: 10px;
}

.scrap-head h1 {
	font-size: 40px;
	font-family: "Montserrat", sans-serif;
}

.scrap-head p {
	font-size: 19px;
	font-family: "Raleway", sans-serif;
	margin-bottom: 30px;
}

.vids-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	align-items: center;
}

.vids-cont {
	background: #FFFFFF;
	margin: 15px;
	padding: 15px;
}

.vids {
	height: 298px;
}

.vids video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.vid-det {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px 0;
}

.vid-det p {
	font-size: 19px;
	font-family: "Montserrat", sans-serif;
}

.vid-det a {
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
	color: #AC4636;
	text-decoration: none;
}

.vid-det i {
	margin-left: 6px;
	color: #AC4636;
	font-weight: 600;
}

.trust {
  padding: 80px 0 60px;
  margin: 0 105px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 90px;
  align-items: start;
}

/* LEFT TEXT */
.trust-det {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.trust-det h2 {
  font-size: 34px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #1f2937;
}

.trust-det p {
  font-family: "Raleway", sans-serif;
  font-size: 19.2px;
  font-weight: 300;
  line-height: 32px;
  color: #4b5563;
}

/* IMAGE GRID */
.img-grid {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  grid-template-rows: 1fr 1fr;
  gap: 22px;
}

/* Tall image */
.img-grid img:first-child {
  grid-row: span 2;
  height: 100%;
}

/* All images */
.img-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .trust {
    margin: 0 40px;
    gap: 60px;
  }
}

@media (max-width: 768px) {
  .trust {
    grid-template-columns: 1fr;
  }

  .img-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .img-grid img:first-child {
    grid-row: auto;
    grid-column: span 2;
  }
}


/*------------------------------------Testimonials-------------------------------*/

.testi {
	padding: 0 70px;
	background: #FDF7EE;
	text-align: center;
}

.testi-g {
	padding: 51px 0 63px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 900px;
}

.testi-g h2 {
	font-size: 40px;
	font-family: "Montserrat", sans-serif;
}

.testi-g p {
	font-family: "Raleway", sans-serif;
	font-size: 19.2px;
	font-weight: 300;
	font-style: italic;
	line-height: 30px;
}

.testi-g h4 {
	font-size: 20px;
	font-family: "Montserrat", sans-serif;
}

.testi-g span {
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
}

/*------------------------------------partner-------------------------------*/

.partner {
	margin: 0 105px;
	padding: 80px 0 60px;
}

.partner-logo {
	display: flex;
	gap: 60px;
	justify-content: center;
	overflow: hidden;
}

.partner-logo img {
	width: 148px;
	height: 100px;
	object-fit: contain;
}

/*------------------------------------footer-------------------------------*/

footer {
	background: #AC4636CC;
}

.footer-det {
	margin: 0 125px;
	padding: 48px 0;
	display: flex;
	color: white;
	justify-content: space-between;

}

.footer-list ul li a {
	color: white;
	text-decoration: none;
}

.footer-list ul {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.footer-list ul li {
	font-size: 16px;
	font-family: "Raleway", sans-serif;
	padding: 0 0 0 5px;
}

.footer-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer-list h2 {
	font-size: 23px;
	font-family: "Montserrat", sans-serif;
	margin-left: -15px;
}

.footer-list span {
	display: flex;
	gap: 10px;
	font-family: "Roboto", sans-serif;
}

.footer-logos {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	padding: 12px;
}

.footer-logos img {
	width: 40px;
}

hr {
	margin: 0 125px;
}

.sec-footer {
	margin: 0 125px;
	display: flex;
	justify-content: space-between;
	padding: 20px 0 30px;
	color: #FFFFFF;
	font-size: 16px;
	font-family: "Raleway", sans-serif;
}

.sec-footer span {
	display: flex;
	gap: 8px;
}


/*----------------------------------------------About page-------------------------------------------------*/
.value {
	display: grid;
	grid-template-columns: 400px 1fr;
	margin: 0 125px;
	padding: 80px 0 60px;
	gap: 20px;
}

.value-det {
	background: #f7f7f7;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.value-det h3 {
	font-size: 22px;
	font-family: "Montserrat", sans-serif;
	color: #333333;
}

.value-det h1 {
	font-size: 40px;
	font-family: "Montserrat", sans-serif;
	color: #336164;
}

.value-p {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.value-p p {
	font-size: 19.2px;
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	line-height: 27px;
}

.value-list {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.value-list span {
	font-size: 19.2px;
	font-family: "Raleway", sans-serif;
	font-weight: 300;
}

/*----------------------------------------------Mission-------------------------------------------------*/
.mission-cont {
	background: #FDF7EE;
}

.mission {
	padding: 60px 0;
	margin: 0 105px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
	text-align: center;
	gap: 70px;
}

.mission-det {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 10px 0;
}

.mission-det i {
	font-size: 50px;
}

.mission-det h3 {
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
}

.mission-det p {
	font-size: 19.2px;
	font-family: "Raleway", sans-serif;
	font-weight: 300;
}

/*----------------------------------------------Team-------------------------------------------------*/
.team {
	padding: 80px 0 60px;
	margin: 0 125px;
	text-align: center;
}

.team-cont {
	display: grid;
	grid-template-columns: 300px 300px 300px;
	align-items: center;
	justify-content: center;
	gap: 40px;
	margin: 30px 0;
}

.team-grid {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	padding: 10px;
	height: 110px;
	justify-content: center;
	gap: 10px;
}

.team-grid h3 {
	font-size: 18px;
	font-weight: 300;
	font-family: "Montserrat", sans-serif;

}

.team-grid h4 {
	font-size: 19.2px;
	font-weight: 300;
	font-family: "Raleway", sans-serif;
}

.team-grid span {
	font-size: 16px;
	font-weight: 300;
	font-family: "Roboto", sans-serif;
}

.team-grid span i {
	margin-right: 5px;
}

/*----------------------------------------------product page-------------------------------------------------*/

.products-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 0 125px;
	padding: 60px 0;
	gap: 40px;
}


.pro-grid {
	text-align: center;
}

.pro-grid h1 {
	font-size: 22px;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	color: #336164;
	margin-top: 8px;
}

.pro-grid p {
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	margin-top: 8px;
}

.pro-img img {
	width: 100%;
}

/*----------------------------------------------product page-------------------------------------------------*/

.mat {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 0 125px;
	
}
.mat-grid {
	margin: 40px;
	padding: 0 40px;
	background: #336164;
	color: white;
}

.mat-inner h1 {
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
}

.mat-inner span {
	font-size: 16px;
	font-family: "Roboto", sans-serif;
}

.mat-inner span i {
	margin: 0 5px 0 0;
}

.mat-inner {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 40px 0;
	background: #336164;
}

/*----------------------------------------------words-------------------------------------------------*/

.words {
	margin: 0 125px;
	padding: 60px 0;
	font-family: "Raleway", sans-serif;
	font-size: 19.2px;
	font-weight: 300;
	letter-spacing: 0.5px;
	line-height: 30px;
}

.words h4 {
	margin-bottom: 20px;
}

.two ul li {
	list-style: number;
	margin-left: 40px;
	margin-bottom: 10px;
}

.four ul li {
	margin-left: 40px;
}

.five ul li {
	margin-left: 40px;
	list-style: number;
}

.five span {
	font-weight: 700;
}

.work-with-us {
  padding: 80px 60px;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 80px;
  align-items: start;
}

/* LEFT CONTENT */
.content h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.content p {
  font-size: 16px;
  color: #4b5563;
  line-height: 1.6;

  font-family: "Montserrat", sans-serif;
}

.content .note {
  margin-top: 24px;
}

.note {
	display: flex;
	gap: 5px;
	align-items: center;
}

/* FORM */
.form {
  width: 100%;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-bottom: 22px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group.full {
  margin-bottom: 22px;
}

label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #111827;
  font-family: "Montserrat", sans-serif;
}

label span {
  color: #dc2626;
}

input,
textarea {
  padding: 14px 16px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  font-size: 15px;
  outline: none;
  transition: border 0.2s ease;
}

input::placeholder,
textarea::placeholder {
  color: #9ca3af;
}

input:focus,
textarea:focus {
  border-color: #2f5f5b;
}

textarea {
  min-height: 150px;
  resize: none;
}

/* BUTTON */
button {
  margin-top: 10px;
  padding: 14px 40px;
  background: #2f5f5b;
  color: #ffffff;
  border: none;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease;
}

button:hover {
  background: #274e4a;
}


iframe {
	width: 400px;
	height:300px;
	border:0;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
    gap: 50px;
  }
}


@media only screen and (max-width: 1338px) {

	.menu-toggle {
	    display: block;
	    z-index: 10000;

	}

	.nav-links {
		position: absolute;
		top: 80px;
		left: 0;
		width: 100%;
		background: #111;
		flex-direction: column;
		align-items: center;
		max-height: 0;
		overflow: hidden;
		padding: 0 0 0 10px;
		transition: max-height 0.4s ease;
		align-items: start;
	}

	.nav-links.open {
		max-height: 400px;
	}

	.nav-links li {
		margin:  0;
	}

}

.no-scroll {
	overflow: hidden;
}

@media only screen and (max-width: 1340px) {
	.top-texts-cont {
		grid-template-columns: 1fr;
		text-align: center;
	}

	.top-first h1 {
		font-size: 22.2px;
		margin-bottom: 20px;
	}

	.service {
		grid-template-columns: 1fr;
	}

	.vids-grid {
		grid-template-columns: 1fr;
	}

	.trust {
	  grid-template-columns: 1fr;
	}
}

@media only screen and (max-width: 999px) {
	.team {
		margin: 0;
		padding: 20px;
	}
	.team-cont {
		grid-template-columns: 1fr;
	}

	.products-container,
	.mat {
		grid-template-columns: 1fr;
	}
}



@media only screen and (max-width: 896px) {

	.navbar {
		padding: 20px 20px;
	}

	.a-hero-content span {
		font-size: 50px;
		font-family: "Montserrat", sans-serif;
		padding: 20px;
		margin: 70px 25px 0;
	}
	.footer-det {
		flex-direction: column;
		gap: 10px;
	}

	.sec-footer {
		flex-direction: column;
		gap: 20px;
		text-align: center;
	}

	.value {
		margin: 0;
		padding: 20px;
		grid-template-columns: 1fr;
	}

	.mission {
		grid-template-columns: 1fr;
	}
}

@media only screen and (max-width: 680px) {
	.a-hero-content span {
		font-size: 20px;
	}
	.scrap,
	.top-texts-cont,
	.service {
		margin: 0;
		padding: 80px  20px;
	}

	.footer-det {
		margin: 0 20px;
		padding: 48px 20px;

	}

	.hero-content h1 {
		font-size: 40px;
	}

	.hero-content p {
		font-size: 20px;
		font-weight: 300;
	}
	.slider {
		font-size: 20px;
	}

	.slider.left {
		left: 10px;
	}

	.slider.right {
		right: 10px;
	}

	.products-container,
	.mat {
		margin: 0;
		padding: 20px;
	}

	.words {
		margin: 0;
		padding: 60px 20px;
	}

	.form-row {
	  grid-template-columns: 1fr;
	}

	iframe {
		width: 100%;
	}

	.work-with-us {
	  padding: 60px 30px;
	}

	.note {
		font-size: 14px;
		font-weight: 300;
	}

	.content h1 {
	  text-align: center;
	}

	.sec-footer {
		margin: 0;
	}

}











